.main-heading {
    font-weight: 700!important;
    width: 100%!important;
    margin-bottom: 1.5rem!important;
    font-size: 1.7rem;
    line-height: 1.2;
    font-family: cairo,sans-serif;
}
.checkbox-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.action-button-section {
    display: flex;
    justify-content: center;
}
.action-button-section button {
    width: 30%;
}
.input-section {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.input-section.qr-code-section {
    justify-content: space-evenly;
}
.input-section.qr-code-section img {
    width: 300px;
    height: auto;
}