.main-heading {
    font-weight: 700!important;
    width: 100%!important;
    margin-bottom: 1.5rem!important;
    font-size: 1.7rem;
    line-height: 1.2;
    font-family: cairo,sans-serif;
}
.actionButtonGroup {
    display: flex;
    gap: 5px;
}
.btn-edit {
    color: #2371ed !important;
    background-color: #deeafc !important;
}
.btn-close {
    color: #f83245 !important;
    background-color: #fee0e3 !important;
}
.create-role-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #c4c4c4;
}
.permission-table-header, .permission-table-body {
    display: grid;
    grid-template-columns: 30% 10% 10% 10% 10% 10% 10% 10%;
    text-align: center;
    box-shadow: 0px 0px 10px #ccc;
    padding: 15px;
    border-radius: 15px;
}
.permission-table-header {
    background-color: #e7edfb;
    box-shadow: none;
    border-radius: 15px 15px 0 0;
}
.permission-table-header label {
    font-weight: 600;
    color: #6ea2f6;
}
.permission-radio-button {
    height: 20px;
    width: 20px;
}
.permission-table {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.create-role-content-section {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.createRoleButton {
    display: flex;
    justify-content: center;
}
.leads-section {
    grid-template-columns: 10% 6% 6% 6% 6% 6% 6% 6% 6% 10% 10% 10% 10%;
}
.mt5-section {
    grid-template-columns: 10% 6% 6% 6% 6% 6% 6% 6% 6% 10% 10% 10% 10%;
    font-size: 12px;
}
.dashboard-section {
    grid-template-columns: 20% 10% 10% 10% 10% 10% 10% 10% 10%;
    font-size: 12px;
}