.client-detail-header {
    display: flex;
    justify-content: space-between;
    background-color: #efeeee;
    border-radius: 10px;
    gap: 15px;
    align-items: center;
    padding: 5px 10px;
    flex-wrap: wrap;
    border-radius: 10px;
}
.client-detail-header .header-highlight {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    flex-grow: 1;
}
.client-detail-header .client-name {
    text-align: center;
}
.client-detail-header .client-name label {
    text-align: center;
    font-weight: 700;
    padding: 0 1rem;
    margin-bottom: 0;
    font-size: 1.25rem;
}
.client-detail-header .header-highlight p span {
    display: block;
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 0.35rem;
}
.client-detail-header .header-highlight p {
    margin-bottom: 0;
    font-weight: 700;
}
.tabsBar button {
    font-size: 11px;
}
.panding-left-right-0 .MuiBox-root {
    padding: 24px 0;
}
.header-title {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 0 solid hsla(0,.4%,50%,.3);
    font-weight: 700!important;
    border-width: 1px;
    border-color: rgba(7,9,25,.125);
}
.contentSection {
    padding: 1.25rem;
}
.group-header {
    font-weight: 700;
    margin: 0.5rem 0rem;
    font-size: 13px;
}
.group-header::after {
    content: "";
    height: 2px;
    display: block;
    background: linear-gradient(90deg,rgba(0,0,0,.5),transparent 50%,transparent);
    margin: 0.5rem 0 0.2rem;
}
.grid-handle {
    display: flex;
    justify-content: space-between;
}
.mt5btngroup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.mt5btngroup button {
    font-size: 10px;
}
.contentSection .element {
    width: 200px;
}
.element label {
    font-size: 10px;
}
.formSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.newSection-title {
    padding: 18px 1.25rem 0;
    margin-bottom: 0;
    font-size: .8rem;
}
.element label.Mui-focused {
    color: #666666;
}
.element .MuiInput-underline.Mui-focused::after {
    border-bottom: 1px solid #949494;
}
.paper-main-section {
    height: 100%;
}
.btnActionSection {
    display: flex;
    justify-content: end;
    padding: 1.25rem;
}
.subtitle {
    font-size: 11px;
}
.declarationCheckbox .MuiFormControlLabel-label {
    font-size: 11px;
}
.MuiMenu-root .MuiMenu-paper .MuiMenu-list .MuiMenuItem-gutters {
    font-size: 11px;
}
.employment-details.btnActionSection {
    padding: 1.25rem 0;
}
.cancelButton {
    background-color: #e0e0e0 !important;
    color: #000 !important;
}
.dialogMultipleActionButton {
    display: flex;
    gap: 10px;
}
.dialogTitle {
    font-weight: 700 !important;
    font-size: .92rem !important;
}
.MuiInputLabel-formControl {
    font-size: 11px !important;
}
.fileuploadButton input {
    display: none;
}
.margeField {
    display: flex;
    gap: 15px;
}
.structureNameSection {
    display: flex;
    flex-direction: column;
}
.structureNameSection label, .structureInputSection label {
    padding: 5px 0px;
    font-weight: bold;
    font-size: 13px;
}
.structureNameSection input {
    width: 20%;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}
.structureInputSection input {
    width: 100%;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}
hr.solid {
    border-top: 1px solid #dedede;
    border-bottom: 0;
}
.label-center {
    display: flex;
    align-items: center;
}
.btn-danger {
    color: red !important;
}
.contentActionButton {
    display: flex;
    justify-content: space-between;
}
.modalWidth100 .MuiDialogContent-root {
    padding: 16px 30px !important;
}
.bankDetailsTabSection {
    padding: 0 25px;
}
.margin-0 {
    margin: 0 !important;
}
.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerSection.header-title .groun-button {
    display: flex;
    gap: 5px;
}
.headerSection .header-search-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.documentDetailsTabSection {
    padding: 25px;
}
.documentSelectionSection {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.font-color-white {
    color: #fff !important;
}