.main-heading {
    font-weight: 700!important;
    width: 100%!important;
    margin-bottom: 1.5rem!important;
    font-size: 1.7rem;
    line-height: 1.2;
    font-family: cairo,sans-serif;
}
.card-content {
    padding: 24px;
}
.row .col.s12 {
    width: 100%;
}
.view-commission-content-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.view-commission-content-section .view-content-element h6 {
    margin-bottom: 0px;
}
.view-commission-content-section .view-content-element {
    width: 260px;
}
.commission-delete-icon {
    color: red;
}